/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-default), sans-serif;
}

/* Variáveis de cores e fontes */
:root {
    --cor-de-fundo: #f2f2f2;
    --cor-principal: #009688;
    --cor-branca: #ffffff;
    --cor-borda: #D9D9D9;
    --cor-fonte-destaque: #FF5F5D;
    --cor-fonte-opcoes: #747E7E;
    --cor-preta: black;
    --font-default: "Roboto";
}

body {
    background-color: var(--cor-de-fundo);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    font-size: 20px;
    background-color: var(--cor-principal);
    padding: 7px;
    color: var(--cor-branca);
}

.header-main {
    display: flex;
    height: 9vh;
    background-color: var(--cor-branca);
    justify-content: space-evenly;
}

.header-main-logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 15px;
}

.header-main-logo-section img {
    height: 7vh;
}

.header-main-logo-section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--cor-fonte-destaque);
}

.header-main-logo-section-title p {
    font-size: 18px;
    padding: 3px;
}

.header-main-input-search {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-main-input-search input[type="text"] {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.header-main-input-search img {
    width: 30px;
}

.header-main-options-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.header-main-options-section a {
    text-decoration: none;
    color: var(--cor-fonte-opcoes);
}

.header-main-options-section-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.header-main-options-section-info img {
    width: 30px;
}

.header-bottom {
    display: flex;
    height: 7.5vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--cor-principal);
}

.header-bottom img {
    width: 50px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
}

.nav-item a {
    text-decoration: none;
    color: var(--cor-branca);
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.content-container {
    background-color: var(--cor-principal);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.content-container img {
    width: 50%;
}

.main-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content-centralized {
    width: 70%;
    background-color: var(--cor-branca);
    padding: 10px;
    border: 1.5px solid var(--cor-borda);
    border-radius: 8px;
}

.container-newsletter {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-newsletter {
    background-color: var(--cor-branca);
    border: solid 1.5px var(--cor-principal);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 5vh;
    width: 45%;
    padding: 7px;
}

.about-newsletter h1 {
    font-size: 17px;
}

.about-newsletter form {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;
}

.about-newsletter input[type="text"],
.about-newsletter input[type="email"] {
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.about-newsletter input[type="submit"] {
    background-color: var(--cor-principal);
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
