/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Variáveis de cores e fontes */
:root {
  --background-color: #f2f2f2;
  --primary: #009688;
  --white: #ffffff;
  --border-color: #d9d9d9;
  --font-color-highlight: #ff5f5d;
  --font-color-2-op: #747e7e;
  --black: black;
  --font-default: "sans-serif";
}

/* Corpo da página */
body {
  background-color: var(--background-color);
}

/* Cabeçalho (Header) */
.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  font-size: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 7px;
}

.header-main {
  display: flex;
  height: 9vh;
  background-color: var(--white);
  justify-content: space-evenly;
}

.header-main-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  gap: 15px;
}

.header-main-logo-section img {
  height: 7vh;
}

.header-main-logo-section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--font-color-highlight);
}

.header-main-logo-section-title p {
  font-size: 18px;
  padding: 3px;
}

.header-main-input-search {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-main-input-search input[type="text"] {
  width: 80%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.header-main-input-search img {
  width: 30px;
}

.header-main-options-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.header-main-options-section a {
  text-decoration: none;
  color: var(--font-color-2-op);
}

.header-main-options-section-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
}

.header-main-options-section-info img {
  width: 30px;
}

.header-bottom {
  display: flex;
  height: 7.5vh;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--primary);
}

.header-bottom img {
  width: 40px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 19px;
}

.nav-item a {
  text-decoration: none;
  color: var(--white);
}

/* Corpo centralizado das outras páginas */
.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  margin-bottom: 30px;
}

.main-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content-centralized {
  width: 70%;
  background-color: var(--white);
  padding: 10px;
  border: 1.5px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 30px;
}

.return-to-home {
  width: 70%;
  margin-top: 10px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 8px;
  border: 1.5px solid var(--border-color);
}

/* Conteúdo da página */
.content-container {
  background-color: var(--primary);
  width: 60%;
  height: 70%;
  border-radius: 25px 25px 0px 25px;
  border: 0.7px solid var(--border-color);
}

.content-container img {
  border-radius: 25px 0px 0px 25px;
}

.promotion {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
}

.promotion-delivery-free {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.promotion-footter {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promotion-footter-divs {
  color: var(--white);
  border: 0.7px solid var(--border-color);
  border-radius: 15px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 13.5px;
  padding: 6px;
  gap: 7px;
  background-color: var(--primary);
}

.promotion-footter-divs img {
  width: 20%;
}

.container-newsletter {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
}

.container-newsletter h4 {
  color: var(--black);
  font-size: 16px;
  padding: 10px;
}

.about-newsletter {
  background-color: var(--white);
  border: solid 1.5px var(--primary);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 5vh;
  width: 45%;
  padding: 7px;
}

.about-newsletter h1 {
  font-size: 17px;
}

.about-newsletter form {
  display: flex;
  gap: 15px;
  align-items: center;
}

.about-newsletter input[type="text"],
.about-newsletter input[type="email"] {
  width: 30%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.about-newsletter input[type="submit"] {
  background-color: var(--primary);
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
