.content-sign-in {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-sign-in {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;
  font-size: 20px;
}

.select-sign-in h3 {
  color: var(--font-color-highlight);
}

.select-sign-in p {
  color: var(--font-color-2-op);
}

.select-sign-in img {
  width: 12%;
}

.sign-in-options {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 8px;
}

.sign-in-options button {
  display: block;
  width: 400px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--primary);
  border: 2.2px solid var(--primary);
}

.sign-in-options button:hover {
  background-color: var(--primary);
  color: var(--white);
}

.sign-in-options button:focus {
  outline: none;
}

#button-sign-up {
  border: 2.2px solid var(--font-color-highlight);
  color: var(--font-color-highlight);
}

#button-sign-up:hover {
  background-color: var(--font-color-highlight);
  color: var(--white);
}

.sign-in-options p {
  color: var(--font-color-2-op);
  font-size: 15px;
}

.sign-in-options a {
  color: var(--primary);
}
