:root {
  --cor-de-fundo: #f2f2f2;
  --cor-principal: #009688;
  --cor-branca: #ffffff;
  --cor-borda: #d9d9d9;
  --cor-fonte-destaque: #ff5f5d;
  --cor-fonte-opcoes: #747e7e;
  --cor-preta: black;
  --font-default: "Roboto";
}

.content-sign-in {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-sign-in {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;
  font-size: 20px;
}

.select-sign-in h3 {
  color: var(--cor-fonte-destaque);
}

.select-sign-in p {
  color: var(--cor-fonte-opcoes);
}

.select-sign-in img {
  width: 12%;
}

.sign-in-options {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 8px;
}

.sign-in-options button {
  display: block;
  width: 400px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--cor-branca);
  color: var(--cor-principal);
  border: 2.2px solid var(--cor-principal);
}

.sign-in-options button:hover {
  background-color: var(--cor-principal);
  color: var(--cor-branca);
}

.sign-in-options button:focus {
  outline: none;
}

#button-sign-up {
  border: 2.2px solid var(--cor-fonte-destaque);
  color: var(--cor-fonte-destaque);
}

#button-sign-up:hover {
  background-color: var(--cor-fonte-destaque);
  color: var(--cor-branca);
}

.sign-in-options p {
  color: var(--cor-fonte-opcoes);
  font-size: 15px;
}

.sign-in-options a {
  color: var(--cor-principal);
}
