* {
    margin: 0;
    padding: 0;
}

:root {
    /*variáveis no css*/
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #FFFFFF;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3C92FA;
    --color_neutra: #f2f2f2;
}

.header_head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    font-size: 20px;
    background-color: #D9D9D9;
    /* border: 2px solid black; */
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 7px;
}

.header_main {
    display: flex;
    height: 8vh;
    background-color: #009688;
    color: white;
    border-bottom: 1.5px solid black;
}

.header_main_parte1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 15px;
    /* border: 1px solid black; */
}

.header_main_parte1_img {
    height: 6vh;
}

.header_main_parte2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    /* border: 1px solid black; */
}

.header_main_parte2 a {
    color: white;
    text-decoration: none;
}

.header_main_parte2 {
    color: white;
    text-decoration: none;
}

.header_main_parte2_opcoes {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.header_main_parte2_opcoes img {
    width: 30px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    background-color: #f2f2f2;
}

.container_principal {
    display: flex;
    width: 40%;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    justify-content: center;
}

.container_principal img {
    width: 50%;
}

.container_principal ul {
    font-size: 30px;
    list-style-type: none;
}

.container_principal ul a {
    text-decoration: none;
    color: black;
}

.container_principal li {
    padding: 10px;
}

.container_principal_footer {
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
    background-color: #009688;
    border: 1.5px solid #D9D9D9;
    border-radius: 20px;
}

.container_principal_footer a {
    text-decoration: none;
    color: white;
}